/* ***************************** all pages ********************************* */
* {
	margin: 0px;
	padding: 0px;
}

header, main, nav, footer, section, article, aside, body {
	display: block;
}

header{
	height:100px;
	box-shadow: 0px 1px 44px #000;
	background-color: #f26949;
	width: 100%;
	position: fixed;
	z-index: 3;
	top:0px;
}

body{
	background-color: #f26948;
	overflow-x:hidden;
}
nav:not(#detailsNav) {
	width: 100%;
	height: 100px;
	background-color: #f26949;
	position: fixed;
	top: 0px;
	z-index: 1;
}
h1,h2,h3,h4,h5,h6,p{
	font-family:Arial;
}
button:hover,a:hover,input [type="checkbox"]:hover,label:hover,#uploadPic:hover{
	cursor: pointer;
	opacity:0.75;
}
#logo{
	display: block;
  	margin: 0 auto;
  	width:100px;
  	height:94px;
	background: url("../images/icons/logo.png") no-repeat;
} 
.wrapper {
	background-color: #e7ebeb;
	width: 100%;
}

#albumsArea , #contact_nav + main{
	margin-top: 100px;
}

	
/* ***************************** Register page ********************************* */
#register > form > input{
	margin: 0 auto;
	font-family:Arial;
	font-size:40px;
	display: block;
	width: 300px;
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #fccebb;
	outline: 0;
	height: 50px;
	color:#fff;
	opacity:0.75;
	margin-top: 90px;
}
#register > form > input::-webkit-input-placeholder {/* WebKit browsers */
	font-size:40px;
	color:#fff;
	opacity:0.75;
}

#register_submition{
	margin: 0 auto;
	text-align: center;
	padding: 55px 0px;
	width: 100%;
	bottom: 0px;
}
#register_submition > button{
	width:81px;
	height:64px;
	background-color: transparent;
	border: none;
	outline: 0;
}
#register_submition > button:nth-child(1){
	background: url("../images/icons/register_v.png") no-repeat;
}

#register > #circle > section{
	background: url("../images/icons/startLogo0.png") no-repeat;
	width:204px;
	height:174px;
}
#userNameInput::-webkit-input-placeholder {/* WebKit browsers */
	color: #ff0000;
	font-size:40px;
}
/* ***************************** Index page ********************************* */

#splash,#register {
	background-color: #f26948;
	height: 100%;
	width: 100%;
	float: left;
}

#circle {
	width: 293px;
	height: 293px;
	border-radius: 300px;
	margin: 2% auto 0px;
	background-color: #fff;
}

#circle > section {
	width: 204px;
	height: 174px;
	margin-left: 46px;
	margin-top: 60px;
	float: left;
	border: 0;
	outline: none;
}
/* ***************************** Albums page ********************************* */

#menu > nav > a:not(#logo) {
	position: absolute;
	width: 39px;
	height: 50px;
	top: 34px;
}

#menu > nav > a:nth-child(1) {
	background-image: url("../images/icons/menuPlus.png");
	left: 42px;
}

#menu > nav > a:nth-child(2) {
	background-image: url("../images/icons/search.png");
	left: 104px;
}

#menu > nav > a:nth-child(3) {
	background-image: url("../images/icons/settings.png");
	right: 48px;
}

.momentAlbum {
	width: 70%;
	height: 245px;
	margin: 0 auto;
	margin-bottom: 3px;
	position: relative;
}

.innertext {
	width: 100%;
	height: 245px;
	font-family: Arial;
	cursor: pointer;
}
.innertext:hover{
	opacity:0.75;
}

.innertext > h2, .innertext > h3, .innertext > img {
	position: absolute;
}
.innertext > h2 {
	color: #fff;
	font-size: 34px;
	left: 68px;
	top: 52px;
}

.innertext > h3 {
	color: #e4e3e7;
	font-size: 30px;
	left: 68px;
	top: 90px;
}

.innertext > article {
	position: absolute;
	color: #e4e3e7;
	font-size: 25px;
	top: 187px;
	left: 107px;
	width: 78%;
	overflow: auto;
}

.innertext > article > p {
	float: left;
	margin-right: 5px;
}

.innertext > img {
	top: 187px;
	left: 73px;
}


/* ***************************** Create album page ********************************* */

#createAlbum_nav > nav > a:not(#logo) {
	position: absolute;
	background-image: url("../images/icons/back.png");
	width: 35px;
	height: 26px;
	top: 36px;
	left: 41px;
}

#createAlbumTitle {
	position: absolute;
	font-size: 35px;
	font-family: Arial;
	font-weight: normal;
	line-height: 27px;
	color: #fff1e8;
	width: 329px;
	left: 66px;
}

#paddingBox {
	padding: 0px 70px;
	margin-top: 44px;
}

#AlbumCreation {
	padding: 47px 50px 0px;
	margin-top: 100px;
	position: relative;
	background: #fff;
}

#AlbumCreation > input:not(#uploadPic) {
	height: 41px;
	border: none;
	font-family: Arial;
	outline: 0;
	color: #867e7b;
	margin-bottom: 30px;
	border-bottom: 1px solid #878585;
	background: transparent;
}

#albumName, #persons {
	width: 94%;
	font-size: 30px;
}

#creationAddress {
	width: 452px;
	text-indent: 39px;
	font-size: 20px;
	overflow: scroll;
}

#AlbumCreation > a {
	position: absolute;
	width: 33px;
	height: 44px;
}

#AlbumCreation > a:nth-child(3) {
	left: 85%;
	top: 110px;
	background: url("../images/icons/plus2.png");
}

#AlbumCreation > button:nth-child(5) {
	position: absolute;
	left: 42px;
	top: 180px;
	width: 33px;
	height: 44px;
	border: 0;
	outline: 0;
	background: url("../images/icons/gps.png");
}

#AlbumCreation > input[type="checkbox"] {
	display: none;
}

#AlbumCreation > label {
	width: 27px;
	height: 27px;
	float: left;
	position: absolute;
	top: 189px;
	left: 72%;
	background: url("../images/icons/unchecked.png");
}
#AlbumCreation > input[type="checkbox"]:checked + label {
	background: url("../images/icons/checked.png");
}

#AlbumCreation > h3 {
	font-size: 25px;
	position: absolute;
	top: 189px;
	left: 76%;
	color: #3d3936;
	font-family: Arial;
}

#uploadPic {
	background: #f29b71;
	width: 100%;
	height: 888px;
	margin-top: 28px;
	position: relative;
	cursor: pointer;
}

#uploadPic::-webkit-file-upload-button {
	visibility: hidden;
}

#uploadPic::before {
	content: 'upload photo';
	font-size: 66px;
	color: #fff;
	font-family: Arial;
	text-align: center;
	display: block;
	margin-top: 350px;
}
#uploadPic.changed:before {
	content: '';
}

/* hide the 'no file selected' text */
input[type='file'] {
	color: transparent;
}
.albumAlreadyExist::-webkit-input-placeholder {/* WebKit browsers */
	color: #ff0000;
}
.submitButtons {
	margin: 0 auto;
	text-align: center;
	padding: 38px 0px;
	width: 100%;
	bottom: 0px;
}

#contactsSelection {
	position: fixed;
}

.submitButtons > a, .submitButtons > input {
	width: 56px;
	height: 47px;
	display: block;
	float: left;
	margin: 0px 20px;
	border: none;
}

.submitButtons > button {
	width: 74px;
	height: 56px;
	background: none;
	border: 0;
	outline: 0;
}
.submitButtons > button:nth-child(1) {
	background: url("../images/icons/v.png");
}
.submitButtons > button > img {
	width: 74px;
	height: 56px;
	background: none;
	border: 0;
}

/* *****************************  View album page ********************************* */

#viewAlbumPage {
	margin-top: 190px;
	position: relative;
	background: #e7ebeb;
	overflow:auto;
}

#popupTextBox {
	background-color: #ffffff;
	position: fixed;
	z-index: 2;
	display: none;
	width: 557px;
	height: 270px;
	box-shadow: 0px 18px 20px #000;
	top:200px;
	left: 30%;
}

#popupTextBox > form > input {
	color: #867e7b;
	width: 470px;
	display: block;
	height: 60px;
	font-size: 30px;
	border: none;
	margin: 58px auto 0px;
	border: none;
	border-bottom: 1px solid #000;
	outline: 0px;
}
#details {
	width: 100%;
	height: 190px;
	position: fixed;
}

#details > nav > a:not(#logo) {
	width: 35px;
	display: block;
	height: 26px;
	background: url("../images/icons/back.png");
	left: 38px;
	top: 36px;
	position: absolute;
}
#details > nav > button{
	width: 47px;
	height: 45px;
	display: block;
	border: 0;
	outline:0;
	float: right;
	margin-right: 105px;
	background: url("../images/icons/to_map.png");
	margin-top: 36px;
}

#details > nav > h2, #details > nav > h3, #details > nav > h4, #details > nav > img:nth-child(3) {
	color: #fff;
	left: 90px;
	font-size: 35px;
	position: absolute;
}
#details > nav > img:nth-child(3) {
	top: 98px;
	left: 90px;
}
#details > nav > img:nth-child(5) {
	top: 143px;
	left: 90px;
	  position: absolute;
}
#details > nav > h2 {
	top: 31px;
}
#details > nav > h3 {
	top: 93px;
	left: 124px;
	width: 58%;
	font-weight: normal;
	overflow: auto;
}
#details > nav > h4 {
	top: 139px;
	left: 117px;
	font-family: Arial;
	font-size: 26px;
	font-weight: 400;
}
#contact_nav > header > input[type="text"]::-webkit-input-placeholder {/* WebKit browsers */
	color: #fff;
	opacity:0.75;
}
#fileTypes > input {
	margin-left: 30%;
}

#fileTypes, #fileTypes > input {
	display: none;
	margin-top: 31px;
	background: #e7ebeb;
	padding-left: 33%;
	height: 106px;
}

#fileTypes {
	padding-left: 29%;
}

#fileTypes > input + label {
	width: 106px;
	height: 106px;
	float: left;
	display: block;
}
#fileTypes > input + label:nth-child(2) {
	background: url("../images/icons/camera_icon.png");
}
#fileTypes > input + label:nth-child(4) {
	background: url("../images/icons/video_icon.png");
}
#fileTypes > input + label:nth-child(6) {
	background: url("../images/icons/mic_icon.png");
}
#fileTypes > input + label:nth-child(8) {
	background: url("../images/icons/text_icon.png");
}
#addMoment {
	width: 90px;
	height: 90px;
	margin: 0 auto;
	margin-top: 34px;
	border: none;
	display: block;
	outline: 0;
	background: url("../images/icons/plus.png");
}
.post-image, .post-video {
	margin: 0px auto;
	width: 424px;
	height: 409px;
	font-family: Arial;
	border: 5px solid #f2673a;
	border-radius: 8px;
}
.post-image > article:nth-child(1){
	cursor: pointer;
	opacity:0.75;
}
.post-image > article:nth-child(1), .post-video > article:nth-child(1) {
	width: 424px;
	height: 374px;
	float: left;
	border-bottom: 5px solid #f2673a;
}
.post-image > article:nth-child(2), .post-video > article:nth-child(2) {
	width: 424px;
	height: 29px;
	float: left;
}
.post-image > article > p, .post-video > article:nth-child(2) > p, .post-text > article:nth-child(2) > p {
	font-size: 25px;
	color: #655f5b;
}
.post-image > article > p:nth-child(1), .post-video > article:nth-child(2) > p:nth-child(1), .post-text > article:nth-child(2) > p:nth-child(1) {
	float: left;
	margin-left: 19px;
}
.post-image > article > p:nth-child(2), .post-video > article:nth-child(2) > p:nth-child(2), .post-text > article:nth-child(2) > p:nth-child(2) {
	float: right;
	margin-right: 23px;
}
.post-text > article:nth-child(1) > p {
	text-align: center;
	padding-top: 56px;
	color: #000;
	font-size: 28px;
	overflow: hidden;
	height: 35px;
}
.post-text {
	margin: 0px auto;
	font-family: Arial;
	width: 342px;
	height: 168px;
	border: 5px solid #f2673a;
}
.post-text > article:nth-child(1) {
	width: 100%;
	height: 136px;
	border-bottom: 5px solid #f2673a;
}
.post-text > article:nth-child(2) {
	width: 100%;
	height: 29px;
}
video {
	-webkit-transform: scaleY(1.57);
	margin-top: 68px;
}
.momentsTypes > img,#popupTextBox + img,.post-image + img,.post-text + img,.post-video + img{
	margin: 0 auto;
	display: block;
}
/* *****************************  Contact page ********************************* */
#contact_nav > nav > a {
	display: block;
	float: left;
	position:absolute;
	  top: 36px;
  left: 38px;
	width: 39px;
	height: 50px;
	background: url("../images/icons/search.png");
}
#contact_nav > nav > input[type="text"] {
	position:absolute;
	  top: 30px;
  left: 122px;
	float: left;
	height: 63px;
	color: #fff;
	font-size: 35px;
	border: 0;
	outline: 0;
	background-color: transparent;
}
#contact_nav + main {
	height: 100%;
	background: #fff;
}
.friends {
	height: 34px;
	padding: 20px;
	border-bottom: 1px solid #000;
	background-color: #fff;
}

.friends > input[type="checkbox"] {
	display: none;
}
.friends > label {
	width: 27px;
	height: 27px;
	float: left;
	margin-left: 64px;
	font-family: Arial;
	margin-top: 6px;
	background: url("../images/icons/unchecked.png");
}
.friends > input[type="checkbox"]:checked + label {
	background: url("../images/icons/checked.png");
}

.friends > label > h2 {
	font-size: 30px;
	font-weight: bold;
	margin-left:46px;
}

.friends + section {
	background: #fff;
}

#contact_nav > nav > input[type="text"]::-webkit-input-placeholder {/* WebKit browsers */
	color: #fff;
	opacity:0.75;
}
/* *****************************  Map page ********************************* */
#momentMap {
	width: 100%;
	height: 190px;
	position: fixed;
	z-index:3;
}

#momentMap > nav > a {
	width: 35px;
	display: block;
	height: 26px;
	background: url("../images/icons/back.png");
	left: 38px;
	top: 36px;
	position: absolute;
}
#momentMap > nav > button{
	width: 36px;
	height: 30px;
	display: block;
	border: 0;
	outline:0;
	float: right;
	margin-right: 105px;
	background: url("../images/icons/from_map.png");
	margin-top: 36px;
}

#momentMap > nav > h2, #momentMap > nav > h3, #momentMap > nav > h4, #momentMap > nav > img {
	color: #fff;
	left: 90px;
	font-family:Arial;
	font-size: 35px;
	position: absolute;
}
#momentMap > nav > img:nth-child(3) {
	top: 98px;
	left: 90px;
}
#momentMap > nav > img:nth-child(5) {
	top: 143px;
	left: 90px;
}
#momentMap > nav > h2 {
	top: 31px;
}
#momentMap > nav > h3 {
	top: 93px;
	left: 124px;
	width: 58%;
	font-weight: normal;
	overflow: auto;
}
#momentMap > nav > h4 {
	top: 139px;
	left: 117px;
	font-family: Arial;
	font-size: 26px;
	font-weight: 400;
}
#momentMap > nav:not(#detailsNav){
		background-color: transparent;
	}
	#map{
		  margin-top: 190px;
	}
/* ***************************** viewImage page ********************************* */

#viewImage {
	background-color: #454343;
	height: 100%;
	width: 100%;
	text-align:center;
	position: absolute;
}

#viewImage > section {
	width: 100%;
	height: 75%;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: 242px;
}

#viewImage >  button {
	background-image: url("../images/icons/x_view_page.png");
	width: 40px;
	height: 39px;
	margin-top: 72px;

	overflow: auto;
	border: 0;
	background-color: transparent;
	outline: 0;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ MOBILE @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/



@media(max-width:640px) {

	#logo{
		display:none;
	}
	.wrapper {
		width: 640px;
		margin: 0 auto;
		background-color: #e7ebeb;
	}

	#circle {
		margin: 315px auto 0px;
	}
	#register > form > input{
		margin-top: 157px;
	}
	.momentAlbum {
		width: 100%;
	}
	#AlbumCreation {
		padding: 47px 30px 0px;
		border: 1px solid #97918d;
		margin-top:62px;
		background-color: #fff;
	}

	#AlbumCreation > button:nth-child(5) {
		position: absolute;
		left: 26px;
	}
	#AlbumCreation > a:nth-child(3) {
		left: 507px;
	}
	#AlbumCreation > label {
		left: 349px;
	}
	#AlbumCreation > h3 {
		left: 387px;
		font-size:22px;
	}
	#uploadPic{
		height:467px;
	}
	#uploadPic::before {
		content: 'upload photo';
		font-size: 36px;
		color: #fff;
		font-family: Arial;
		text-align: center;
		display: block;
		margin-top:200px;
	}
	#fileTypes, #fileTypes > input {
		padding-left: 113px;
	}

	#popupTextBox {
		left: 43px;
	}

	#details > nav > h2, #details > nav > h3, #details > nav > h4, #details > nav > img{
		font-size:25px;
		overflow-x:hidden;
	}

	#paddingBox{
		padding: 0px 43px 48px;
		background-color: #eef0ef;
		position: absolute;
		top:33px;
	}
	#momentMap > nav > h2, #momentMap > nav > h3, #momentMap > nav > h4, #momentMap > nav > img{
		font-size: 25px;
		line-height: 33px;
	}

	#viewImage > section{
		height:66%;
	}

	##creationAddress {
		width: 290px;
	}

}
